<p>update-profile works!</p>
<div class="card">
    <div class="card-body">
        <form [formGroup]="userForm">

            <div class="form-group form-floating mb-3">

                <label for="name">user name:</label>
                <input class="form-control" [ngClass]="{'invalid':userForm.controls['name'].errors}" type="text"
                    id="name" formControlName="name" name="name" />

                <ng-container *ngIf="userForm.controls['name'].errors">
                    <div class="invalid-feedback" *ngIf="userForm.controls['name'].errors['required']">
                        name is required.
                    </div>
                    <div class="invalid-feedback" *ngIf="userForm.controls['name'].errors['minLength']">
                        name must be at least 5 chars.
                    </div>
                </ng-container>

            </div>

            <div class="form-group form-floating mb-3">

                <label for="addres">user address:</label>
                <input class="form-control" type="text" id="addres" formControlName="addres" name="addres" />

            </div>

            <div class="form-group form-floating mb-3">

                <label for="email">user email:</label>
                <input class="form-control" type="text" id="email" formControlName="email" name="email" />

            </div>

            <div class="form-group form-floating mb-3">

                <label for="password">user password:</label>
                <input class="form-control" [ngClass]="{'invalid':userForm.controls['password'].errors}" type="text"
                    id="password" formControlName="password" name="password" />

                <ng-container *ngIf="userForm.controls['password'].errors">
                    <div class="invalid-feedback" *ngIf="userForm.controls['password'].errors['required']">
                        password is required.
                    </div>
                    <div class="invalid-feedback" *ngIf="userForm.controls['password'].errors['minLength']">
                        password must be at least 5 chars.
                    </div>
                </ng-container>

            </div>

            <div class="form-group form-floating mb-3">

                <label for="role">choose your role:</label>
                <br>
                <input class="radio" type="radio" name="role" formControlName="role" value="1"> Student
                <br>
                <input class="radio" type="radio" name="role" formControlName="role" value="2"> Lecturer
                <br>

                <ng-container *ngIf="userForm.controls['role'].errors">
                    <div class="invalid-feedback" *ngIf="userForm.controls['role'].errors['required']">
                        please choose your role, it`s required.
                    </div>
                </ng-container>

            </div>
            
            <button class="btn btn-primary" (click)="Update()" [disabled]="!userForm.valid">Log In</button>

        </form>
    </div>
</div>
