<br />
<!-- not working -->
<ng-container class="card">

    <div class="card-body">

        <form [formGroup]="userLogin">

            <div class="form-group form-floating mb-3">

                <label for="name">user name:</label>
                <input class="form-control" [ngClass]="{'invalid':userLogin.controls['name'].errors}" type="text"
                    id="name" formControlName="name" name="name" />

                <ng-container *ngIf="userLogin.controls['name'].errors">
                    <div class="invalid-feedback" *ngIf="userLogin.controls['name'].errors['required']">
                        This field is required
                    </div>
                </ng-container>

            </div>


            <div class="form-group form-floating mb-3">

                <label for="password">user password:</label>
                <input class="form-control" [ngClass]="{'invalid':userLogin.controls['password'].errors}" type="text"
                    id="password" formControlName="password" name="password" />

                <div *ngIf="show" class="alert alert-danger d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill" />
                    </svg>
                    <div>
                        password is invalid
                    </div>
                </div>

                <ng-container *ngIf="userLogin.controls['password'].errors ">
                    <div class="invalid-feedback" *ngIf="userLogin.controls['password'].errors['required']">
                        This field is required
                    </div>
                </ng-container>

            </div>

            <div class="form-group form-floating mb-3">

                <label for="course">Course</label>
                <select class="form-select" aria-label="Default select example" id="course" formControlName="course"
                    name="course">
                    <option selected disabled>select course</option>
                    <option *ngFor="let c in courses" value="{{c.name}}">{{c.name}}</option>
                </select>

            </div>


            <button class="btn btn-primary" (click)="Login()" [disabled]="userLogin.invalid">Log In</button>
        </form>

        <button class="btn btn-outline-success" *ngIf="!lectaruer" (click)="lectaruer=true;">Lecturer Entrance</button>
    </div>
</ng-container>