<ng-container class="card">
   
    <div class="card-body">
   
        <form [formGroup]="userLogin">
   
            <div class="form-group form-floating mb-3">
   
                <input class="form-control" [ngClass]="{'invalid':userLogin.controls['name'].errors}" type="text"
                    id="name" formControlName="name" name="name" />
                    <label for="name">user name:</label>
   
                <ng-container *ngIf="userLogin.controls['name'].errors">
                    <div class="invalid-feedback" *ngIf="userLogin.controls['name'].errors['required']">
                        This field is required
                    </div>
                </ng-container>
   
            </div>

            
            <div class="form-group form-floating mb-3">
   
                <input class="form-control" [ngClass]="{'invalid':userLogin.controls['password'].errors}" type="text"
                    id="password" formControlName="password" name="password" />
                    <label for="password">user password:</label>
   
                <ng-container *ngIf="userLogin.controls['password'].errors">
                    <div class="invalid-feedback" *ngIf="userLogin.controls['password'].errors['required']">
                        This field is required
                    </div>
                </ng-container>
                
            </div>
            
            <button class="btn btn-primary" (click)="Login()" [disabled]="userLogin.invalid">Log In</button>
        </form>

    </div>
</ng-container>