<p>course-detailes works!</p>

<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-title">{{course?.name}}</div>
            <div class="card-text">{{category?.name}}
                <div class="icon">{{category?.iconRouting}}</div>
            </div>
        </div>
        <p><b>Course Duration:</b> {{course?.lessonsCount}} Sessions | <b>Learning format:</b>
            {{learnType[course?.learningWay]}}</p>
        <p><b>Start Date:</b> {{ course?.startDate}}</p>
        <b>Course lecturer: {{course?.lecturerId}}</b>
        <img class="image" src={{course?.imgRouting}} alt="Photo of a camera">
        <div class=" card-body">
            <h2>{{course?.syllabus[0]}}</h2>
            <div *ngFor="let line of course?.syllabus">
                <h4 *ngIf="line.startsWith('Unit')">{{line}}</h4>

                <li *ngIf="!line.startsWith('Unit')&&line!=course?.syllabus[0]">{{line}}</li>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-outline-success">LIKE</button>
            <button class="btn btn-outline-success">SHARE</button>
        </div>
    </div>
</div>