<p>course-detailes works!</p>
<div class="card border-info">
    <img class="card-img-top" src={{course.imgRouting}} alt="Card image">
    <div class="card-body">
        <div class="card-header bg-transparent border-success">{{course.name}}</div>

        <p class="card-text">in this course there are {{course.lessonsCount}} lessons</p>
        <p class="card-text">The learning way is {{course.learningWay}}</p>

        <h5 class="card-title">Syllabus is:</h5>
        <ul class="list-group list-group-flush">
            <li *ngFor="let s of course.syllabus" class="list-group-item">{{s}}</li>
        </ul>
    </div>
    <div class="card-footer">
        <small class="text-body-secondary">course lecteruer: {{lecteruer.name}} start at: {{course.startDate}}</small>
      </div>
</div>