
<div class=" bg-dark">
    <nav class="navbar bg-dark border-bottom border-body">
        <div class="container-fluid back">
            <div class="container-fluid head">

                <div>

                    <button type="button" (click)="toHomePage()" class="bt btn btn-outline-light"
                        aria-current="page">Home</button>

                    <button type="button" (click)="toAllCourses()" class="bt btn btn-outline-light"
                        aria-current="page">All
                        Course</button>

                    <button type="button" *ngIf="user!=null" (click)="toMyCourses()" class="bt btn btn-outline-light"
                        aria-current="page">My Courses</button>

                    <!-- <button  type="button" *ngIf="user.role==role" (click)="toAddCourse()" class="btn btn-outline-light" aria-current="page">Add Course</button> -->

                </div>

                <form class="d-flex">
                    <button type="button" *ngIf="!user" (click)="toLogin()" class="bt btn btn-outline-success">Log
                        In</button>
                    <button type="button" *ngIf="!user" (click)="toRegisterIn()" class="bt btn btn-outline-success">Sign
                        In</button>
                    <button type="button" *ngIf="user" (click)="toLogout()" class="bt btn btn-outline-success">Log
                        Out</button>
                </form>

            </div>
        </div>
    </nav>


</div>
